<page-header ngtitle="登录记录"></page-header>


<nz-card [nzExtra]="extraTpl">

  <ng-template #extraTpl>
    <button nz-button (click)="refresh()" nzShape="circle">
      <i class="anticon anticon-reload"></i>
    </button>
  </ng-template>
  <nz-table #ajaxTable nzShowSizeChanger [nzData]="dataList" [nzTotal]="totalItems" [(nzPageIndex)]="pageNumber"
    [(nzPageSize)]="pageSize" [nzLoading]="isTableLoading" (nzPageIndexChange)="refresh()" (nzPageSizeChange)="refresh()"
    [nzFrontPagination]="false">
    <thead>
      <tr>
        <th style="min-width:140px;">结果状态</th>
        <th style="max-width:600px;">浏览器信息</th>
        <th style="min-width:200px;">用户/邮箱</th>
        <th style="min-width:200px;">时间</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ajaxTable.data">
        <td>{{item.result}}</td>
        <td>{{item.browserInfo}}</td>
        <td>{{item.userNameOrEmailAddress}}</td>
        <td>{{item.creationTime | date:'yyyy-MM-dd'}}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
