<page-header ngtitle="组织架构"></page-header>
<div nz-row>
  <div nz-col nzSpan="12">
    <nz-card [nzExtra]="extraTpl">
      <div nz-row>
        <div nz-col nzSpan='16'>
          <h2>组织架构</h2>
        </div>
        <div nz-col nzSpan='8'>
          <button nz-button (click)="refresh()" nzShape="circle">
            <i class="anticon anticon-reload"></i>
          </button>
          <button nz-button (click)="createChild()" nzType="primary">
            <i class="anticon anticon-plus"></i>新增组织架构
          </button>
        </div>
      </div>
      <nz-tree [nzData]="organizationUnitList" nzMultiple="false" (nzClick)="activeNode($event)" #treeCom>
        <ng-template #contextTemplate>
          <ul nz-menu nzInDropDown>
            <li nz-menu-item (click)="createChild()">新增子节点</li>
            <li nz-menu-item (click)="lookup()">添加用户</li>
            <li nz-menu-item (click)="editChild()">修改</li>
          </ul>
        </ng-template>
        <ng-template #nzTreeTemplate let-node>
          <span class="custom-node" style="cursor: pointer;">
            <span (contextmenu)="contextMenu($event,contextTemplate,node.key)">
              <i class="anticon" class="anticon anticon-team"></i>
              <span class="file-name" [class.active]="activedNode?.key===node.key">{{node.title}}</span>
            </span>
          </span>
        </ng-template>
      </nz-tree>
    </nz-card>
  </div>
  <div nz-col nzSpan="12">
    <nz-card>
      <div nz-row>
        <div nz-col nzSpan='16'>
          <h2>成员</h2>
        </div>
        <div nz-col nzSpan='8'>
          <button nz-button (click)="refresh()" nzShape="circle">
            <i class="anticon anticon-reload"></i>
          </button>
          <button nz-button (click)="lookup()" nzType="primary">
            <i class="anticon anticon-plus"></i>添加用户
          </button>
        </div>
      </div>
      <nz-table #ajaxTable nzShowSizeChanger [nzData]="dataList" [nzTotal]="totalItems" [(nzPageIndex)]="pageNumber"
        [(nzPageSize)]="pageSize" [nzLoading]="isTableLoading" (nzPageIndexChange)="refresh()" (nzPageSizeChange)="refresh()"
        [nzFrontPagination]="false">
        <thead>
          <tr>
            <th>用户名</th>
            <th>姓名</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of ajaxTable.data">
            <td>{{item.userName}}</td>
            <td>{{item.name}}</td>
            <td>
              <button nz-button nzType="danger" (click)="removeUser(item.userId,item.organizationUnitCode)">移除</button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>

  </div>
</div>

<style type="text/css">
  .custom-node {
    cursor: pointer;
    line-height: 24px;
    display: inline-block;
    margin: 0 -1000px;
    padding: 0 1000px;
  }

  .active {
    background: #1890ff;
    color: #fff;
  }

</style>
